.nav-links a{
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.profile-flex{
  display: flex;
  align-items: center;
}

.profile-flex p{
  margin-right: 10px;
}

.contentContainer {
  min-height: calc(100vh - 70px) 
}